*:not(.navbar):not(.navbar *)  {
  background-color: #2c395e;
  color: #81c5ee;
}

.esquinas {
  position: relative; /* Contenedor relativo para las imágenes absolutas */
  z-index: 1; /* Asegura que el contenido esté por encima de las imágenes */
}

.decoPlantas-1, .decoPlantas-2 {
  width: 200px;
  position: absolute; /* Saca las imágenes del flujo normal */
  z-index: 0; /* Coloca las imágenes detrás del contenido */
}

.decoPlantas-1 {
  top: 0; /* Posición en la esquina superior izquierda */
  left: 0;
}

.decoPlantas-2 {
  top: 0; /* Posición en la esquina superior derecha */
  right: 0;
  transform: rotate(90deg);
  z-index: -1;
}