*:not(.navbar):not(.navbar *)  {
  background-color: #2c395e;
  color: #81c5ee;
}

.decoPlantas-1, .decoPlantas-2 {
  width: 250px;
}

.decoPlantas-2 {
  transform: rotate(90deg);
}

.esquinas {
  display: flex;
  justify-content: space-between;
}
/* Colores
#2c395e - oscuro
#81c5ee - medio
#5c8cb3 - medio
#47688c
#4c5b88
#c3e3f7 - claro
#6899d7
#4a6da3
#0b0e1d - oscuro
#6e7aa1
*/