.navbar {
  background-color: #0b0e1d !important; 
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
}

.navLinkCustom {
  color: #81c5ee !important;
  margin: 0 40px;
  transition: color 0.3s ease, border-bottom 0.3s ease; /* Transición suave */
}

.navLinkCustom:hover {
  color: #6899d7 !important;
  border-bottom: 1px solid #6899d7; /* Borde inferior al hacer hover */
  transform: scale(1.05); /* Escala el texto ligeramente */
}